body#adaptations {
	background: $green-background;
	color: $moss;
	hr {
		border-color: darken($moss,15%)!important;
		border-width: 2px;
	}
	h1 {
		color: $moss;
		font-weight: 100;
		strong {
			font-weight: 900;
			display: inline;
		}
		@include make-lg-column(8);
	}
	@media (min-width: $screen-md-min) {
		.container header {
			margin-top: 100px;
		}
	}
}

.grid {
	margin: 0!important;
	padding: 0!important;
	a {
		display: block;
		cursor: hand!important;
		margin-bottom: 30px;
		img {
			max-width: none!important;
			transition: background-color .5s;
		}
		img.gif {
			width: 100%;
		}
		h2 {
			opacity: 0;
			color: #fff;
			padding: 0 20px;
			margin: 0;
			display: block;
			position: absolute;
				top: 40%;
				left: 0;
			transform: translateY(-40%);
			text-align: center;
			width: 100%;
			transition: opacity .5s;
		}
		&:hover {
			h2 {
				opacity: 1;
			}
			img {
				background-color: $moss;
			}
		}
	}
}

#filter {
	button {
		max-width: 100%;
		text-indent: -5000em;
		overflow: hidden;
		display: block;
		background: transparent;
	    border: none;
	    max-height: 106px;
		border-radius: 50%;
		transition: box-shadow .5s;
		&:hover {
			box-shadow: 0 0 75px $yellow;
		}
	}
}

.responsive-sprites {
	img {
		max-width: none!important;
		transition: background-color .5s;
	}
}