body#adaptations, body.adaptation, body#adaptations-list {
	background: $green-background;
	color: $olive;
	hr {
		border-color: darken($green-background, 25%);
		border-top-width: 1px;
	}
	h1, h2 {
		color: $lime;
	}
	.navbar {
		background-color: $lime;
	}
}
body#adaptations, body#adaptations-list {
	@media (min-width: $screen-md-min) {
		.container header {
			margin-top: 60px;
		}
	}
	.list-view {
		& > li + li {
			margin: 0;
		}
		a:link, a:visited {
			display: block;
			vertical-align: middle;
			border-top: 1px solid darken($green-background, 25%);
		}
	}
	#filters {
		.lead, .filter-button-group h2 {
			padding: 30px 0 0 0;
		}
		.filters div {
			padding: 0!important;
		}
		button {
			text-indent: -5000em;
			max-width: 100%;
			overflow: hidden;
			display: block;
			background: transparent;
		    border: none;
		    max-height: 106px;
			&:hover, &:focus {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f07a+0,f6f07a+100&0.5+0,0.5+12,0.01+50 */
				background: -moz-radial-gradient(center, ellipse cover,  rgba(246,240,122,0.5) 0%, rgba(246,240,122,0.5) 12%, rgba(246,240,122,0.01) 50%, rgba(246,240,122,0.01) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(246,240,122,0.5) 0%,rgba(246,240,122,0.5) 12%,rgba(246,240,122,0.01) 50%,rgba(246,240,122,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center,  rgba(246,240,122,0.5) 0%,rgba(246,240,122,0.5) 12%,rgba(246,240,122,0.01) 50%,rgba(246,240,122,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f6f07a', endColorstr='#03f6f07a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
			&.active {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f07a+0,f6f07a+100&1+0,1+25,0.01+75 */
				background: -moz-radial-gradient(center, ellipse cover,  rgba(246,240,122,1) 0%, rgba(246,240,122,1) 25%, rgba(246,240,122,0.01) 75%, rgba(246,240,122,0.01) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(246,240,122,1) 0%,rgba(246,240,122,1) 25%,rgba(246,240,122,0.01) 75%,rgba(246,240,122,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center,  rgba(246,240,122,1) 0%,rgba(246,240,122,1) 25%,rgba(246,240,122,0.01) 75%,rgba(246,240,122,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f07a', endColorstr='#03f6f07a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
		}
		button:focus {
			outline: 0;
		}
	}
}

#filter-select, .select2 {
	display: block;
	width: 100%;
	margin: auto;
	@media (min-width: $screen-sm-min) {
		& {display:none!important}
	}
	.select2-selection {
		height: auto!important;
	}
}
body#adaptations .grid {
	min-height: 790px;
	width: 100%;
	overflow: hidden;
	@media (min-width: $screen-xs-min) {
		min-height: 1170px;
	}
}
.grid {
	margin: 0!important;
	padding: 0!important;
	a {
		display: block;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		img {
			max-width: none!important;
			transition: background-color .5s;
		}
		img.gif {
			width: 100%;
		}
		h2 {
			opacity: 0;
			color: #fff!important;
			padding: 0 20px;
			margin: 0;
			display: block;
			position: absolute;
				top: 50%;
				left: 0;
			transform: translateY(-50%);
			text-align: center;
			width: 100%;
			transition: opacity .5s;
			font-size: 16px;
			line-height: 16px;
			@media (min-width: $screen-xs-min) {
				font-size: 24px;
				line-height: 26px;
			}
		}
		&:hover {
			h2 {
				opacity: 1;
			}
			img {
				background-color: $olive;
			}
		}
		&.back-button {
			img {
				background: $olive;
				max-width: 100%!important;
			}
			h2 {
				opacity: 1;
			}
		}
	}
}

.responsive-sprites {
	img {
		max-width: none!important;
		transition: background-color .5s;
	}
}

body.adaptation {
	.pswp__bg {
		background-color: $green-background!important;
	}
	@media (min-width: $screen-sm-min) {
		main {
			margin-top: 85px;
		}
		h1 {
			margin-top: 45px;
		}
	}
	main nav {
		font-family: $font-family-sans-serif;
		text-transform: lowercase;
		font-weight: 400;
		font-size: 18px;
		ul {
			list-style-type: none;
			padding: 0;
			li:before {
				content: "\0273B \000A0 \000A0";
				padding-right: 5px;
			}
			a:link, a:visited {
				text-decoration: underline;
				margin-bottom:3px;
			}
		}
	}
	.carousel {
		button {
			background-color: transparent;
			border: none;
			outline: none;
		}
	}
	#description h2 {
		margin-top: 0;
	}
	#inuse {
		margin-bottom: 20px;
		figure {
			margin-bottom: 20px;
			a {
				display: block;
			}
			img {
				margin: auto;
				display: block;
				height: auto;
			}
		}
	}
	#diagram img {
		background-color: $pink;
		margin-bottom: 20px;
	}
}