body {
	margin:98px 0;
}
#content-checklist {
	table {
		width: 100%;
	}
	thead {
		background:#fff;
	}
	td, th {
		padding: .5em;
	}
	tr {
		border-bottom:1px solid gray;
	}
	table.images {
		td, th {
			width:14%;
			vertical-align: top!important;
			img {
				padding:5px;
			}
		}
	}
	.navbar-fixed-top {
		top:48px;
	}
}