body#home {
	.navbar {
		margin-bottom: 0;
	}
	section {
		background-size: cover;
		background-position: center;
		overflow: hidden;
		div div div {
			height: 66vh;
			position: relative;
		}
		a.readmore {
			position: absolute;
				bottom: 0;
				left: 0;
			background: #fff;
			border-radius: 50%;
			padding: 20px;
			box-shadow: 0 0 50px 50px #fff;
			font-family: $font-family-sans-serif;
			text-transform: lowercase;
			font-size: 1.5em;
			text-decoration: underline;
		}
		h1 {
			color: #fff;
		}
		&#unlikelyengineering {
			background-color: $mustard;
			background-position: left center;
			background-image:url(/assets/collage.png);
			h1 {color: lighten($mustard, 25%)}
			text-indent: -5000em;
		}
		&#unlikelyobjects {
			background-color: $moss;	
			h1 strong {color: lighten($moss, 25%)}
			a:link, a:visited {color: $moss}	
		}
		&#unlikelypeople {
			background-color: $teal;		
			h1 strong {color: lighten($teal, 25%)}	
			a:link, a:visited {color: $teal}	
		}
		&#expansiveview {
			background-color: $pink;		
			background-image:url(/assets/expansiveview.jpg);
			h1 strong {color: lighten($pink, 15%)}	
			a:link, a:visited {color: $pink}	
		}
	}

#collage {
	* {
//		background-color:rgba(0,0,0,.05)
	}
	a {
		@include make-xs-column(6);
		@include make-md-column(4);
	}
}
#collage .row:nth-child(odd) a {
	@include make-xs-column-offset(6);
}

#collage .row:nth-child(4n+0) a {@include make-md-column-offset(4);}
#collage .row:nth-child(4n+1) a {@include make-md-column-offset(8);}
#collage .row:nth-child(4n+2) a {@include make-md-column-offset(4);}
#collage .row:nth-child(4n+3) a {@include make-md-column-offset(0);}

* {
}
#collage {
	margin-top: 75vh;
	position: relative;
	display: block;
}
#collage a {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding:0;
}
#collage a img {
	opacity: 0;
	display: block;
	margin: auto;
}
#collage a:hover img {
	opacity: 1!important;
}
#objects section {
	display: block;
	height: 100vh;
	text-align: center;
}
#objects h1 {
	position: relative;
	top: 40%;
	left: -50%;
	transform: translateY(-60%), translateX(-50%);
	color: #fff;
	font-size: 5em;
}

}