body#home {
	background-color: $mustard;
	.navbar {
		margin-bottom: 0;
		a:link, a:visited {
			background-color: $mustard;
		}
	}
	section {
		background-size: fit;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		position: relative;
		div div div {
			height: 66vh;
			position: relative;
		}
		a.readmore {
			position: absolute;
				bottom: 0;
				left: 0;
			border-radius: 50%;
			padding: 20px;
			background: #fff;
			box-shadow: 0 0 50px 50px #fff;
			font-family: $font-family-sans-serif;
			text-transform: lowercase;
			font-size: 1.5em;
			text-decoration: underline;
		}
		h1 {
			color: #fff;
		}
		&#unlikelyengineering {
			background-color: $mustard;
			background-position: center;
			background-image:url(/assets/collage.jpg);
			h1 {
				color: #fff;
				position: absolute;
					top: 40%;
					left: 0;
				transform: translateY(-40%);
				text-align: center;
				width: 100%;
				@media (min-width: $screen-md-min) {
					font-size: 5em;
				}
			}
			h1 strong {
				color: lighten($mustard, 25%);
				display: inline;
			}
			div div div {
				height: 90vh;
			}
		}
		
		&#unlikelyobjects {
			background-color: $moss;	
			background-position: -100% 50%;
			background-image:url(/content/home/adhesive-wall-hooks.png);
			h1 strong {color: lighten($moss, 25%)}
			a:link, a:visited {color: $moss}
			.conveyor {
				display: none;
			}
			div div div {
				height: 33vh;
			}
		}
		&#unlikelypeople {
			background-color: $teal;		
			h1 strong {color: lighten($teal, 25%)}	
			a:link, a:visited {color: $teal}	
			background-image: url(/content/3-about/cindy.jpg);
		}
		&#expansiveview {
			background-color: $pink;		
			background-image: url(/content/2-manifesto/manifesto.jpg);
			h1 strong {color: lighten($pink, 15%)}	
			a:link, a:visited {color: $pink}	
		}
	}
	footer {
		margin-top: 0;
	}
}

html.skrollr {
	body#home {
		section {
			&#unlikelyengineering {
				h1 {
					position: static;
						top: 50%;
						left: 0;
					transform: translateY(-50%);
				}
			}
			&#unlikelyobjects {
				background: $moss;	
				div div div {
					height: auto!important;
				}
				.conveyor {
					width: 4000px;
					height: 286px;
					display:block;
					&.last {
						margin-bottom:75px;
					}
					.adaptation {
						width: 400px;
						height: 286px;
						overflow: hidden;
						float: left;
						img {
							max-width: none!important;
							transition: background-color .5s;
						}
						img.gif {
							width: 100%;
						}

					}
					a:hover img {
						background-color: darken($moss, 15%);
					}
				}
			}
		}
	}	
}