body#home {
	background-color: $taupe;
	.navbar {
		margin-bottom: 0;
		background-color: $chartreuse;
	}
	section{
		&#unlikelypeopleexpansiveview {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62b6c4+0,62b6c4+49,ff8c92+51,ff8c92+100 */
			background: rgb(98,182,196); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(98,182,196,1) 0%, rgba(98,182,196,1) 50%, rgba(255,140,146,1) 50%, rgba(255,140,146,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(98,182,196,1) 0%,rgba(98,182,196,1) 50%,rgba(255,140,146,1) 50%,rgba(255,140,146,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(98,182,196,1) 0%,rgba(98,182,196,1) 50%,rgba(255,140,146,1) 50%,rgba(255,140,146,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62b6c4', endColorstr='#ff8c92',GradientType=0 ); /* IE6-9 */
			@media (min-width: $screen-sm-min) {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62b6c4+0,62b6c4+49,ff8c92+51,ff8c92+100 */
				background: rgb(98,182,196); /* Old browsers */
				background: -moz-linear-gradient(left,  rgba(98,182,196,1) 0%, rgba(98,182,196,1) 50%, rgba(255,140,146,1) 50%, rgba(255,140,146,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  rgba(98,182,196,1) 0%,rgba(98,182,196,1) 50%,rgba(255,140,146,1) 50%,rgba(255,140,146,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  rgba(98,182,196,1) 0%,rgba(98,182,196,1) 50%,rgba(255,140,146,1) 50%,rgba(255,140,146,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62b6c4', endColorstr='#ff8c92',GradientType=1 ); /* IE6-9 */
			}
		}
		#unlikelypeople, #expansiveview {
			background-position: center right;
			background-size: contain;
			background-repeat: no-repeat;
			position: relative;
			height: 54vh;
			@media (min-width: $screen-sm-min) {
				height: 43vh;
			}
		}
		a.readmore {
			position: absolute;
				bottom: 0;
				left: 0;
			border-radius: 50%;
			padding: 20px;
			font-family: $font-family-sans-serif;
			text-transform: lowercase;
			font-size: 1.5em;
			text-decoration: underline;
		}
		h1, h1 a:link, h1 a:visited {
			color: #fff;
		}
		h1 a:hover, h1 a:active {
			text-decoration: none;
		}
		&#whatcounts {
			background: $taupe url('/assets/what-counts-gray.jpg');
			background-size: cover;
			overflow: hidden;
			@media (min-width: $screen-lg-min) {
				overflow: visible;
			}
			h1, h2 {
				line-height: 115px;
				@media (min-width: $screen-sm-min) {
					line-height: 150px;
				}
			}
			h1 {
				font-weight: 100;
				font-size: 3.5em;
				margin-top: 0;
				@media (min-width: $screen-md-min) {
					margin-top: 60px;
				}
			}
			h2 {
				font-size: 2em;
				font-style: italic;
				margin-top: -300px;
				margin-left: 35px;
				color: $chartreuse;
				font-weight: 400;
				text-align: right;
				@media (min-width: $screen-sm-min) {
					text-align: left;
					margin-top: -385px;
				}
				a:link, a:visited {
					color: $chartreuse;
					text-decoration: underline;
				}
			}
			figure img {margin:185px 0;}
			.st0{
				fill:none;
				stroke:#b8b840;
				stroke-width:2;
				stroke-miterlimit:10;
			} 
			svg#cosmetic-sponge {
				margin-top:-315px;
				margin-bottom:30px;
				margin-left:-100px;
				margin-right:150px;
				max-width:100%;
			}
			svg#leg {
				height: 800px;
				position:absolute;
					top:-100px;
					right: -100px;
				@media (min-width: $screen-md-min) {
					top:-25px;
					right: -150px;
				}
				max-width:100%;
			}
			@keyframes bounce {
		        from {-webkit-transform: translateY(0);}
		        50% {-webkit-transform: translateY(25px);}
		        to {-webkit-transform: translateY(0);}    
			}
			#down-arrow {
				display: block;
				width: 72px;
				animation-name: bounce;
				animation-duration: 3s;
				animation-iteration-count: infinite;
				animation-delay: 1s;
				animation-timing-function: ease-in-out;
				margin-bottom:50px;
				@media (min-width: $screen-md-min) {
					margin: auto;
				}
			}
		}
		&#unlikelyengineering {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3a999+0,b8b840+100 */
			background: url(/assets/collage.png), rgb(179,169,153); /* Old browsers */
			background: url(/assets/collage.png), -moz-linear-gradient(top,  rgba(179,169,153,1) 0%, rgba(184,184,64,1) 100%); /* FF3.6-15 */
			background: url(/assets/collage.png), -webkit-linear-gradient(top,  rgba(179,169,153,1) 0%,rgba(184,184,64,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: url(/assets/collage.png), linear-gradient(to bottom,  rgba(179,169,153,1) 0%,rgba(184,184,64,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a999', endColorstr='#b8b840',GradientType=0 ); /* IE6-9 */
			background-position: bottom center;
			background-size: contain;
			background-repeat: repeat-x;
		}
		
		&#unlikelyobjects {
			background-color: $olive;	
			h1 strong {color: $lime}
			a.readmore:link, a.readmore:visited {color: $lime}
			a:hover img {
				background-color: darken($olive, 15%);
			}
			.conveyor {
				display: none;
			}
			figure img {
				margin-bottom:50px!important;
			}
		}
		div#unlikelypeople {
			background-color: $sky;		
			h1 strong {color: $teal}	
			a.readmore:link, a.readmore:visited {color: $teal}	
			background-image: url(/content/2-about/cindy.jpg);
		    background-position: 125% 0;
		}
		div#expansiveview {
			background-color: $pink;		
			background-image: url(/content/3-manifesto/manifesto.jpg);
		    background-position: 100% 70%;
		    background-size: 80%;
			@media (min-width: $screen-md-min) {
			    background-size: 100%;
			}
   			h1 strong {color: $red}	
			a.readmore:link, a.readmore:visited {color: $red}	
		}
	}
	footer {
		margin-top: 0;
	}
}

html.skrollr {
	body#home {
		section {
			&#unlikelyobjects {
				background: $olive;	
				overflow: hidden;
				div div div {
					height: auto!important;
				}
				.conveyor {
					width: 4000px;
					height: 286px;
					display:block;
					.adaptation {
						width: 400px;
						height: 286px;
						overflow: hidden;
						float: left;
						img {
							max-width: none!important;
							transition: background-color .5s;
						}
						img.gif {
							width: 100%;
						}

					}
					a:hover img {
						background-color: darken($olive, 15%);
					}
				}
				.conveyor.last {
					margin-bottom:50px!important;
				}
			}
		}
	}	
}