body.longform {
	background: lighten($sky, 40%);
	color: $blue;
	.navbar {
		margin-bottom: 0;
	}
	header.image {
		background-color: $blue;
	}
	.header-content {
		background-color: #fff;
		h1 {color: $sky;}
		padding-bottom: .5em;
		box-shadow: 10px 10px 0 $sky;
		margin-top: 15px;
		@include make-sm-column(7);
		@include make-md-column(6);
		@include make-lg-column(5);
		@include make-lg-column-offset(1);
		@media (min-width: $screen-sm-min) {
			& {margin-top: -8%;}				
		}
	}
	h2 {
		color: $sky;
	}
}