body#manifesto {
	background: $pink-background;
	color: $blue;
	@media (min-width: $screen-sm-min) {
		header.row {
			padding: 60px 0 30px 0;
		}
	}
	h1, h2 {
		color: $red;
	}
	.header-content {
		color: $red;
	}
}

.text {
	h2 {
		@include make-sm-column(2);
	}
	section.block {
		@include make-row();
	}
	.content {
		@include make-sm-column(10);
		@include make-md-column(6);
	}
	@media (min-width: $screen-sm-min) {
		h2, section {
			margin-top: 40px;
		}	
	}
}