@import "bootstrap";

@import "nav";

@import "dev";


img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-sans-serif;
	text-transform: lowercase;
	font-weight: 900;
}

h1 strong {
	font-weight: 100;
	display: block;
}

.wf-loading {
	visibility: hidden;
}

.main-gallery {
	img {
		height: auto;
	}
	.gallery-cell {
		width: 100%;
		img {
			display: block;
			margin: auto;
		}
		/* fade in image when loaded */
		.gallery-cell-image {
		  transition: opacity 0.4s;
		  opacity: 0;
		}

		.gallery-cell-image.flickity-lazyloaded,
		.gallery-cell-image.flickity-lazyerror {
		  opacity: 1;
		}
	}
	.diagram {
		background: $pink;
	}
	.flickity-page-dots {
		position: relative;
			bottom: 0;
		margin: 10px auto 20px auto;
	}
}

.navbar a.active {
	background: darken($mustard, 10%);
}

blockquote {
	text-align: right;
	font-family: $font-family-sans-serif;
	text-transform: lowercase;
	padding-left: 25%;
	font-size: 2em;
}

.flickity-page-dots {
	position: relative!important;
}

button {
	outline: none;
}

.thumbnail {
	border: none;
	text-align: center;
	color: #000;
	&:hover {
		color: #fff;
	}
	h2 {
		margin-top: 11px;
	}
	.img-circle {
		border:10px solid $body-bg;
	}
	&:hover img.img-circle {
		border:none;
	}
}

.text {
	a:link, a:visited {
		text-decoration: underline;
	}
}

.grid {
	margin: 0!important;
	padding: 0!important;
}

.list-group, .list-group button {
	background-color: #B3A999;
}

@media (min-width: $screen-md-min) {
	.text {
		header {
			@include make-md-column(10);
			@include make-md-column-offset(2);
		}
		h2 {
			padding: 0;
			margin: 0;
			text-align: right;
			@include make-md-column(2);
		}
		section.block {
			@include make-row();
		}
		.content {
			@include make-md-column(9);
			@include make-lg-column(7);
		}
		h2, section {
			margin-top: 40px;
		}	
	}
}