@import "bootstrap";
@import "nav";

@import "dev";

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-sans-serif;
	text-transform: lowercase;
	font-weight: 900;
}

.wf-loading {
	h1, h2, h3, h4, h5, h6 {
	visibility: hidden;
	}
}

.gallery-cell {
	width: 100%;
	img {
		display: block;
		margin: auto;
	}
}

.main-gallery {
	margin-bottom: 40px;
}

blockquote {
	text-align: right;
	font-family: $font-family-sans-serif;
	text-transform: lowercase;
	padding-left: 25%;
	font-size: 2em;
}

.flickity-page-dots {
	position: relative!important;
}