.responsive-sprites {
  height: auto;
  overflow: hidden;

  & > img {
    display: block;
  }
}

// explanation:
// width         = 100% * spritesheet width                       / image width
// margin-top    = 100% * distance from top of sprite to image    / image width
// margin-bottom = 100% * distance from bottom of sprite to image / image width
// margin-left   = 100% * distance from left of sprite to image   / image width


// Constants	
$total_width: 528;
$total_height: 395;

img.attach {
  width: 100% * $total_width / 263;
  margin-top: 100% * -301 / 263;
  margin-bottom: -100% * ($total_height - 301 - 44) / 263;
  margin-left: -100% * 265 / 263;
}
img.carry {
  width: 100% * $total_width / 263;
  margin-top: 100% * -131 / 263;
  margin-bottom: -100% * ($total_height - 131 - 59) / 263;
  margin-left: -100% * 265 / 263;
}
img.connect {
  width: 100% * $total_width / 263;
  margin-top: 100% * -352 / 263;
  margin-bottom: -100% * ($total_height - 352 - 39) / 263;
  margin-left: -100% * 265 / 263;
}
img.cut {
  width: 100% * $total_width / 263;
  margin-top: 100% * -352 / 263;
  margin-bottom: -100% * ($total_height - 352 - 43) / 263;
  margin-left: -100% * 0 / 263;
}
img.grasp {
  width: 100% * $total_width / 263;
  margin-top: 100% * -83 / 263;
  margin-bottom: -100% * ($total_height - 83 - 79) / 263;
  margin-left: -100% * 0 / 263;
}
img.hold {
  width: 100% * $total_width / 263;
  margin-top: 100% * -301 / 263;
  margin-bottom: -100% * ($total_height - 301 - 49) / 263;
  margin-left: -100% * 0 / 263;
}
img.lift {
  width: 100% * $total_width / 263;
  margin-top: 100% * 0 / 263;
  margin-bottom: -100% * ($total_height - 0 - 67) / 263;
  margin-left: -100% * 265 / 263;
}
img.pinch {
  width: 100% * $total_width / 263;
  margin-top: 100% * -241 / 263;
  margin-bottom: -100% * ($total_height - 241 - 58) / 263;
  margin-left: -100% * 0 / 263;
}
img.pull {
  width: 100% * $total_width / 263;
  margin-top: 100% * -241 / 263;
  margin-bottom: -100% * ($total_height - 241 - 57) / 263;
  margin-left: -100% * 265 / 263;
}
img.squeeze {
  width: 100% * $total_width / 263;
  margin-top: 100% * 0 / 263;
  margin-bottom: -100% * ($total_height - 0 - 81) / 263;
  margin-left: -100% * 0 / 263;
}
img.steady {
  width: 100% * $total_width / 263;
  margin-top: 100% * -69 / 263;
  margin-bottom: -100% * ($total_height - 69 - 60) / 263;
  margin-left: -100% * 265 / 263;
}
img.turn {
  width: 100% * $total_width / 263;
  margin-top: 100% * -192 / 263;
  margin-bottom: -100% * ($total_height - 192 - 47) / 263;
  margin-left: -100% * 265 / 263;
}
img.yank {
  width: 100% * $total_width / 260;
  margin-top: 100% * -164 / 260;
  margin-bottom: -100% * ($total_height - 164 - 75) / 260;
  margin-left: -100% * 0 / 260;
}
